/* public/frontend/css/footer.css */

footer {
    background: #111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.footer-content p {
    color: #ccc;
    margin-bottom: 10px;
}
