


/* ========================================
   RIGHT GRID
======================================== */

.family-image-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    align-content: start;
}


/* ========================================
   OVERLAY
======================================== */

.family-grid-item::before {
    content: "";

    position: absolute;

    inset: 0;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.18), transparent 60%);

    opacity: 0;

    transition: 0.35s ease;

    z-index: 1;
}

.family-grid-item:hover::before {
    opacity: 1;
}
