/* ========================================
   GRID IMAGE
======================================== */

.family-grid-item img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center center;

    transition: transform 0.7s ease;
}

/* Hover Zoom */

.family-grid-item:hover img {
    transform: scale(1.08);
}
