/* ========================================
   FAMILY SECTION
======================================== */

#family-section {
    padding: 0px 0;
    background: #f8f5f0;
    overflow: hidden;
    position: relative;
}

#family-section .container {
    max-width: 1450px;
}
